body{
    border: none;
    background-color: #448e97fb;
  }
#base{
    border: solid 1px black;
    background-color: #cae6ff;
    width: 600px;
    height: 850px;
    margin: auto;
    padding: 20px;
}

th{
  width: 120px;
  height: 800px;
  border: solid 1px black;
}

#canales_id{
  width: 240px;
}