body{
    border: none;
    background-color: #448e97fb;
}

#base{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    background-color: #cae6ff;
    width:900px;
    height: 850px;
    margin: auto;
    padding: 20px;
}

.default{
  border: solid 2.5px black;
}

th{
  border-right: solid 1px black;
  padding-right: 1px;
}

td{
  text-align: center;
  width: 60px;
}

#canal_1, #canal_2, #canal_3, #canal_4{
  margin: auto;
  text-align: center;
  width: 60px;
  height: 800px;
  text-align:center;
}

#canales_id{
  margin: auto;
  text-align: center;
  width: 120px;
}

.btn{
  padding: auto;
  height: 35px;
  width: 130px;
  border: solid 1px black;
  background-color: #aaaaff;
}

.play-stop{
  padding: auto;
  height: 35px;
  width: 63px;
  border: solid 1px black;
  background-color: #aaaaff;
}

.btn:hover{
  background-color: beige;
}
.btn:active, .btn:focus, .play-stop:active, .play-stop:focus {
  background-color: red;
}

.btn_all{
  height: 25px;
  width: 25px;
  border: solid 1px black;
}

.gain, .aux{
  padding: auto;
  height: 60px;
  border-radius: 75px;
  border: solid 1px black;
}

.slider{
  height: 300px;
  width: 25px;
  border: solid 1px black;
}

#slider_ch1, #slider_ch2, #slider_ch3, #slider_ch4, #slider_left, #slider_right{
  transform: rotate(-90deg);
  display:flex; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.9);
  opacity: 0.7;

}*/

#txt, td{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

#title{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}